doctype html
html
    head
        meta(charset="utf-8")
        title DailyLeafs
        link(rel="shortcut icon", type="image/png", href="/logo.svg")
        != styles
    body
        #app!=content
        script(src="http://localhost:8080/manifest.bundle.js", charset="utf-8")
        script(src="http://localhost:8080/vendor.bundle.js", charset="utf-8")
        script(src="http://localhost:8080/main.bundle.js", charset="utf-8")
